---
layout: default
title: Conf Guide – A curated list of design-related events
---

<div id="container">
  
  <div class="bucket soon">

    {% for post in site.posts reversed limit:4 %}
      <a href="{{ post.site }}" target="_blank" class="card">    
        <div class="image" style="background-image: url(img/{{ post.path | remove: '_posts/' }}.jpg)"></div>
          <div class="text">
            <h4>{{ post.name }}</h4>
            <em>{{ post.datestart }} – {{ post.dateend }}</em>
            <p class="location">{{ post.location }}</p>
          </div>
      </a>
    {% endfor %}
  
  </div>
  
  <div class="bucket all">

    {% for post in site.posts reversed offset:4 %}
      <a href="{{ post.site }}" target="_blank" class="card">    
        <div class="image" style="background-image: url(img/{{ post.path | remove: '_posts/' }}.jpg)"></div>
          <div class="text">
            <h4>{{ post.name }}</h4>
            <em>{{ post.datestart }} – {{ post.dateend }}</em>
            <p class="location">{{ post.location }}</p>
          </div>
      </a>
    {% endfor %}
  
  </div>  

</div>